# Logistic Regression Classification

In [5]:
import seaborn as sns
import pandas as pd
import numpy as np

In [35]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [28]:
#for Checking all the available classes of predictions
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [29]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [36]:
#for removing the choice of the third class
df = df[df['species'] != 'setosa']
df.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [37]:
#converting the resultant class into 0 and 1 for classification

df['species'] = df['species'].map({'versicolor':0,'virginica':1})
df.head()

    sepal_length  sepal_width  petal_length  petal_width  species
50           7.0          3.2           4.7          1.4        0
51           6.4          3.2           4.5          1.5        0
52           6.9          3.1           4.9          1.5        0
53           5.5          2.3           4.0          1.3        0
54           6.5          2.8           4.6          1.5        0

In [47]:
X = df.iloc[:,:-1]
X

     sepal_length  sepal_width  petal_length  petal_width
50            7.0          3.2           4.7          1.4
51            6.4          3.2           4.5          1.5
52            6.9          3.1           4.9          1.5
53            5.5          2.3           4.0          1.3
54            6.5          2.8           4.6          1.5
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[100 rows x 4 columns]

In [48]:
Y = df.loc[:,'species']
Y

50     0
51     0
52     0
53     0
54     0
      ..
145    1
146    1
147    1
148    1
149    1
Name: species, Length: 100, dtype: int64

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_Test, Y_train, Y_test = train_test_split(X,Y, test_size=0.25 , random_state=42)

In [52]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
65            6.7          3.1           4.4          1.4
90            5.5          2.6           4.4          1.2
146           6.3          2.5           5.0          1.9
59            5.2          2.7           3.9          1.4
122           7.7          2.8           6.7          2.0
..            ...          ...           ...          ...
110           6.5          3.2           5.1          2.0
121           5.6          2.8           4.9          2.0
64            5.6          2.9           3.6          1.3
142           5.8          2.7           5.1          1.9
101           5.8          2.7           5.1          1.9

[75 rows x 4 columns]

In [59]:
print(np.shape(X_Test))
X_Test

(25, 4)

     sepal_length  sepal_width  petal_length  petal_width
133           6.3          2.8           5.1          1.5
103           6.3          2.9           5.6          1.8
120           6.9          3.2           5.7          2.3
95            5.7          3.0           4.2          1.2
94            5.6          2.7           4.2          1.3
89            5.5          2.5           4.0          1.3
72            6.3          2.5           4.9          1.5
130           7.4          2.8           6.1          1.9
60            5.0          2.0           3.5          1.0
50            7.0          3.2           4.7          1.4
68            6.2          2.2           4.5          1.5
80            5.5          2.4           3.8          1.1
123           6.3          2.7           4.9          1.8
83            6.0          2.7           5.1          1.6
140           6.7          3.1           5.6          2.4
54            6.5          2.8           4.6          1.5
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
62            6.0          2.2           4.0          1.0
81            5.5          2.4           3.7          1.0
105           7.6          3.0           6.6          2.1
138           6.0          3.0           4.8          1.8
76            6.8          2.8           4.8          1.4
92            5.8          2.6           4.0          1.2
119           6.0          2.2           5.0          1.5

In [61]:
Y_train

65     0
90     0
146    1
59     0
122    1
      ..
110    1
121    1
64     0
142    1
101    1
Name: species, Length: 75, dtype: int64

In [62]:
Y_test

133    1
103    1
120    1
95     0
94     0
89     0
72     0
130    1
60     0
50     0
68     0
80     0
123    1
83     0
140    1
54     0
126    1
127    1
62     0
81     0
105    1
138    1
76     0
92     0
119    1
Name: species, dtype: int64

In [64]:
from sklearn.linear_model import LogisticRegression
Classifier = LogisticRegression()

In [68]:
from sklearn.model_selection import GridSearchCV

In [69]:
parameter = {'penalty':['l1','l2','elasticnet'],'C':[i for i in range(1,101)]}

In [71]:
classifier_regressor = GridSearchCV(Classifier,parameter,scoring='accuracy',cv=5)

In [72]:
classifier_regressor.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
1000 fits failed out of a total of 1500.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
500 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
500 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 447, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan
        nan 0.97333333        nan        nan 0.97333333        nan]
  warnings.warn(

GridSearchCV(cv=5, estimator=LogisticRegression(),
             param_grid={'C': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,
                               15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
                               27, 28, 29, 30, ...],
                         'penalty': ['l1', 'l2', 'elasticnet']},
             scoring='accuracy')

In [75]:
print(classifier_regressor.best_params_)

{'C': 1, 'penalty': 'l2'}

In [76]:
print(classifier_regressor.best_score_)

0.9733333333333334

In [84]:
Y_predict = classifier_regressor.predict(X_Test)

In [86]:
print(Y_predict)
print(Y_test)

[1 1 1 0 0 0 0 1 0 0 0 0 1 1 1 0 1 1 0 0 1 0 0 0 1]
133    1
103    1
120    1
95     0
94     0
89     0
72     0
130    1
60     0
50     0
68     0
80     0
123    1
83     0
140    1
54     0
126    1
127    1
62     0
81     0
105    1
138    1
76     0
92     0
119    1
Name: species, dtype: int64

In [80]:
from sklearn.metrics import accuracy_score
score = accuracy_score(Y_test,Y_predict)

In [81]:
score

0.92